body, html {
  height: 100vh;
}

footer {
  background: #212121;
}

.jumbotron {
  background: rgba(0, 0, 0, 0.5);
}

.btn {
  background: rgba(0, 0, 0, 0.3)
}

.list-group-item {
  color: #ffffff;
  background: transparent;
}

code {
background-color: #23272A;
color: #ffffff;
font-size: 0.875em;
font-weight: normal;
padding: 0.25em 0.5em 0.25em;
border-radius: 2px;
transition: all 0.2s ease-in-out;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #212121 !important;
  border: 1px solid #00000;
  color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  background: #212121) !important;
  border: 1px solid #00000;
  color: #ffffff;
}

.parallax {
  background-image: url("https://dwii.me/css/dwiipaint.webp");
  
  background-color: rgba(0, 0, 0, 0.3);
  
  height: 100vh; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notparallax {
  
  background-image: url("https://dwii.me/css/dwiipaint.webp");
  
  background-color: rgba(0, 0, 0, 0.3);
  
  min-height: 100vh; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #212121;
border-radius: 10px; 
border-radius: 0 !important;
}

::-webkit-scrollbar {
width: 12px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 0 !important;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: rgba(255, 255, 255, 0.1);
border-radius: 0 !important;
}

.btt {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.btt.show {
  opacity: 1;
  visibility: visible;
}
